.cube {
    background-color: #D9D9D9;
    width: 625px;
    height: 625px;
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.ellipse {
    border-radius: 50%;
    width: 155px;
    height: 155px;
    background-color: #0CA565;
    position: absolute;
    z-index: 4;
    top: 210px;
    right: 130px;
}

.paral {
    width: 470px;
    height: 125px;
    background: #920FBF;
    border-radius: 40px;
    z-index: 3;
    position: absolute;
    margin-top: 420px;
}

.paral2 {
    width: 75px;
    height: 550px;
    background: #1C3F9B;
    transform: rotateY(0deg) rotate(315deg);
    z-index: 2;
    position: absolute;
    bottom: 50px;
    right: 262px;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 168px solid #CE3607;
    border-left: 150px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.ellipsebig {
    background-color: #248456;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -150px;
    left: -150px;
}